* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #07081A;
}

.headercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #261C51;
    height: 64px;
}

header {
    max-width: 1040px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.maincontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cloudo {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.menu {
    display: inline-flex;
    gap: 16px;
    align-content: center;
}

a {
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}

.home {
    color: #B968DE;
}

.humnan {
    border-radius: 8px;
    background: #9100D3;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
}

.header {
    display: flex;
    color: #FFF;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    text-align: center;
    gap: 32px;
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

.download {
    border-radius: 8px;
    background: #9100D3;
    padding: 12px 24px;
    color: #fff;
}

.middlecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1040px;
    width: 100%;
    margin-top: 88px;
    flex-wrap: wrap;
}

.logoandp {
    display: inline-flex;
    color: #FFF;
    font-size: 24px;
    gap: 8px;
    align-items: center;
}

.bigarticlecontainer {
    display: flex;
    /* justify-content: center; */
    justify-content: center;
    margin-bottom: 88px;
    margin-top: 88px;
    flex-wrap: wrap;
}


.articlecontainer {
    display: flex;
    max-width: 1040px;
    align-items: center;
    gap: 64px;
    justify-content: space-between;
   
}

.bigp {
    color: #FFF;
    font-size: 20px;
    margin-bottom: 16px;
}

.smallp {
    color: #C0C0C0;
    font-size: 14px;
}

.articlecards {
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #261C51;
}

.footerdiv {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #261C51;
    height: 64px;
    align-items: center;
}

.allrightreserved {
    color: #FFF;
    font-size: 16px;
}

